.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $neon-green;
  border-radius: 100%;
  min-height: 64px;
  min-width: 64px;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.3s ease-in-out;

  &:hover, &:focus {
    box-shadow: 0 0 4rem $neon-green;
    outline: none;
  } 
}