// COLORS
$dark-blue: #202733;
$dark-grayish-blue: #313A48;
$grayish-blue: #4F5D74;
$light-cyan: #CEE3E9;
$neon-green: #53FFAA;
$gray: #979797;

// BREAKPOINTS
$smallBP: 480px;
$mediumBP: 720px;
$largeBP: 960px;
$wideBP: 1200px;